<% content_for :head do%>
  <meta http-equiv="refresh" content="5;" />
<% end %>
<div class="px-4 py-3 bg-green-50 sm:px-6">
  Your usage data is being collected and will be ready for download shortly.
</div>
