<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <title>OVO Energy Usage Downloader</title>
    <meta type="og:description" content="Download your usage from OVO as a CSV">
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="5">
  </head>

  <body>
    Your usage data is being collected and will be ready for download shortly.
  </body>
</html>
